<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">신조어 이름</span>
            </div>
            <input type="text" class="form-control" id="word">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">신조어 뜻</span>
            </div>
            <textarea class="form-control" id="definition" cols="30" rows="5" ></textarea>
        </div>
        <div class="review">
            <button onclick="newWords()" type="button" class="btn btn-primary">신조어 저장하기</button>
        </div>
    </div>
</body>
</html>