<!DOCTYPE html>
<html lang="utf-8">

<head>
    <!-- Webpage Title -->
    <title>new neologism dic</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#no-result').hide();
            $('#modify').hide();
            $('#modi').hide();
            $('#del').hide();
            $('#re-search').hide();
        });

        function findWord() {
            $('#search').hide();
            $('#re-search').show();

            let keyword = $('#keyword').val()

            $.ajax({
                type: "POST",
                url: "/find",
                data: {
                    keyword_give: keyword
                },
                success: function (response) {
                    //alert(response["msg"]);
                    $('#definition-found').append(`<p>${response["msg"]}</p>`)
                    $('#modi').show();
                    $('#del').show();

                    if (response["msg"] == 'no results') {
                        $('#modi').hide();
                        if (window.confirm("NO RESULT!\nDo you want to save this word?")) {
                            $('#no-result').show();
                            $('#result').hide();
                            goNew(keyword);
                        }
                    }
                }
            });
        }

        function goNew() {
            $('#result').hide();
            $('#no-result').show();

            let keyword = $('#keyword').val()
            newWords(keyword)
        }

        function newWords(val) {
            $('#new-word').attr('placeholder', '검색한 신조어 ->' + val)

            let new_word = $('#new-word').val()
            let new_desc = $('#new-desc').val()
            let nowTime = new Date().toLocaleDateString().split('T')[0];

            if (new_desc !='') {
                $.ajax({
                    type: "POST",
                    url: "/new",
                    data: {
                        word_give: new_word,
                        definition_give: new_desc,
                        time_give: nowTime
                    },
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                });
            }
        }

        function goModify() {
            $('#result').hide();
            $('#modify').show();

            let keyword = $('#keyword').val()
            modifyWord(keyword)
        }

        function modifyWord(val) {
            $('#modi-word').attr('value', val);

            let modi_word = $('#modi-word').val()
            let modi_desc = $('#modi-desc').val()
            let nowTime = new Date().toLocaleDateString().split('T')[0];
            console.log(modi_word, modi_desc, nowTime)
            if (modi_desc !='') {
                $.ajax({
                    type: "POST",
                    url: "/modify",
                    data: {
                        modi_desc_give: modi_desc,
                        modi_word_give: modi_word,
                        upd_date_give: nowTime
                    },
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                });
            }
        }

        function deleteWord() {
            let keyword = $('#keyword').val()

            if (window.confirm('Do you really want to delete it?')) {
                $.ajax({
                    type: "POST",
                    url: "/delete",
                    data: {
                        delete_word_give: keyword
                    },
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                });
            }
        }

    </script>

</head>

<body>

    <!--    search for words    -->
    <div class="container" id="result">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">input</span>
            </div>
            <input type="text" class="form-control" id="keyword">
        </div>
        <div class="input-group mb-3" id="definition-found">
            <!-- search result -->
        </div>
        <div class="review">
            <button onclick="findWord()" type="button" class="btn btn-primary" id="search">search</button>
            <button onclick="javascript:window.location.reload();" id="re-search"
                    type="button" class="btn btn-primary">re-search</button>
            <button onclick="goModify()"
                    type="button"
                    class="btn btn-primary" id="modi">modify</button>
        </div>
    </div>

    <!--    add new words    -->
    <div class="container" id="no-result">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">new-word</span>
            </div>
            <input type="text" class="form-control" id="new-word">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">new-desc</span>
            </div>
            <textarea class="form-control" id="new-desc" cols="30" rows="5"></textarea>
        </div>
        <div class="review">
            <button onclick="newWords()" type="button" class="btn btn-primary">save</button>
            <button onclick="javascript:window.location.reload();" type="button" class="btn btn-primary">re-search</button>
        </div>
    </div>

    <!--    modify words    -->
    <div class="container" id="modify">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">word</span>
            </div>
            <input type="text" class="form-control" id="modi-word" readonly>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">desc</span>
            </div>
            <textarea class="form-control" id="modi-desc" cols="30" rows="5"></textarea>
        </div>
        <div class="review">
            <button onclick="modifyWord()" type="button" class="btn btn-primary">modify</button>
            <button onclick="deleteWord()" type="button" class="btn btn-primary" id="del">delete</button>
            <button onclick="javascript:window.location.reload();" type="button" class="btn btn-primary">re-search</button>
        </div>
    </div>

</body>

</html>